body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, p {
  margin: 0;
}

.page {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  min-height: calc(100vh - 70px);
  padding: 10px 150px;
}